.navigation {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #36f;
  justify-content: flex-end;
  line-height: 6rem;
  z-index: 4000; }
  .navigation__link {
    margin: 0 1rem;
    text-decoration: none;
    color: #fff; }
